<div class="container">
  <div class="header-top-in grid-1">
    <ul class="support">
      <li ><a href="mailto:info@example.com" ><i > </i>info@example.com</a></li>
      <li ><span ><i class="tele-in"> </i>0 462 261 61 61</span></li>
    </ul>
    <ul class=" support-right">
      <li ><i class="men"> </i><%= link_to 'Login', account_account_path %></li>
      <li ><i class="tele"> </i><%= link_to 'Create an Account', register_register_path %></li>
    </ul>
    <div class="clearfix"> </div>
  </div>
</div>
