<div class="header">
	<div class="header-top">

		<%= render "layouts/adress_string"%>

		<div class="header-bottom">

			<%=render "layouts/header_body"%>

			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="banner">
		<div class="banner-top">
			<h2>THIS IS AMBEREGUL</h2>
			<p>This theme for high selling
				<span>fashion such as clothings, shoes, bags, fashion for men, women, accessories, etc.</span>
			</p>
		</div>
		<div class="now">
			<a class="morebtn" href="single.html">Explore</a>
			<a class="morebtn at-in" href="single.html">Shop Now</a>
			<div class="clearfix"> </div>
		</div>
 	</div>
</div>
