<div class=" header-product">
	<div class="header-top com">

		<%= render "layouts/adress_string"%>

		<div class="header-bottom bottom-com">

			<%=render "layouts/header_body"%>

		</div>
	</div>
</div>
